li {
	list-style: none;
	padding-left: 40px;
	margin-bottom: 10px;
}

li.icon-blank {
	background: url(../images/checkbox-blank.png) no-repeat;
}

li.icon-marked {
	background: url(../images/checkbox-marked.png) no-repeat;
	font-style: italic;
}